@media screen and (min-width:992px){
    .header-container{
        width: 960px;
        margin: auto;
    }
    .nav-links{
        display: initial;
    }
    .download-search-box{
        display: flex;
    }
    .menu-btn{
        display: none;
    }
    .download-btn{
        padding: 17px 20px 17px 15px;
        background-color: #0066b8;
        gap: 10px;
        display: flex;
        text-align: center;
        text-decoration: none;
        color:white;
        font-size: 16px;
        line-height: 100%;
        height: 50px;
    }
    .input{
        display: none;
    }
    .search-icn{
        background-color: transparent;
        background-image: url(../photos/searchicon.svg);
        background-repeat: no-repeat;
        width: 16px;
        height: 16px;
        border: transparent;
        cursor: pointer;
        margin: 17px;
    }
    .welcome-section .header-container{
        display: grid;

        grid-template-columns: 1fr 2fr;
    }
    .tooltip{
        margin: 25px 8px 0px 12px;
    }
    .extension-row{
        grid-template-columns: auto auto auto auto;
    }
    #extensions-height{
        height: 128px;
    }
    .testimonials-section .header-container{
        grid-template-columns: auto auto auto;
    }
    .header-container .first-info{
        display: grid;
        grid-template-columns: auto auto;
        text-align:start;
        gap: 170px;
    }
    .header-container .first-info-1{
        display: grid;
        grid-template-columns: auto auto;
        text-align:start;
        gap: 17px;
    }
    .first-info-1 .first-info-content{
        order:1;
    }
    .first-info-1 .first-info-img{
        order:2;
    }
    .languages-list{
        grid-template-columns: auto auto auto auto auto auto;
    }
}
@media screen and (min-width:1200px){
    .header-container{
        width: 1140px;
    }
    .search-icn{
        display: none;
    }
    .input
    {
        display: initial;
        background: rgba(255,255,255,.08);
        border: 0px;
        background-image: url(../photos/searchicon.svg);
        background-size: 16px 16px;
        background-position: 12px;
        background-repeat: no-repeat;
        padding: 6px 15px 6px 40px;
        width: 183px;
    }
    .tooltip{
        margin: 24px 30px 0px 42px;
    }
}